[gcp_vm]
# <BABYLON_SERVER_IP> ansible_user=<SERVER_USERNAME> ansible_ssh_private_key_file=<LOCAL_PATH_TO_SSH_KEY>
32.109.87.65 ansible_user=satoshi ansible_ssh_private_key_file=/Users/satoshi/.ssh/google_compute_engine

[gcp_vm:vars]
# main | test | signet | regtest
btc_network=signet
# 8332 (main) | 18332 (test) | 38332 (signet) | 18443 (regtest)
bitcoin_rpc_port=38332
# bitcoind wallet password
wallet_pass=walletpass
# private key for prefunded btc staker account
btcstaker_privkey=cTk9VLzMqWdAXxr8bFPZKvjQsgh3uCjfzXqPGRPuTsQFB1Xq3sFn
# address of babylon slashing script
# TODO: replace with correct one for signet
slashing_pk_script=76a914010101010101010101010101010101010101010188ab
# l2 chain ID
consumer_id=706114
# l2 RPC URL
l2_rpc_url=http://123.456.78.90:9545
