[gcp_vm]
34.30.22.33 ansible_user=satoshi ansible_ssh_private_key_file=/Users/satoshi/.ssh/google_compute_engine

[gcp_vm:vars]
l1_server_ip=<l1-server-ip>
l1_chain_id=<l1-chain-id>
l1_pre_funded_account_private_key=<l1-pre-funded-account-private-key>
l2_server_ip=<l2-server-ip>